html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.panel-faq-container {
    border: 0px solid red;
    padding-bottom: -16px;
    margin-bottom: -15px;
}

.panel-faq-title {
    color: #00EAEA;
    cursor: pointer;
}

.panel-faq-answer {
    /*padding: 15px;
      display: none;*/
      height: 0px;
      overflow: hidden;
      /*변화가 시작되는 쪽에서 애니메이션 이펙트를 붙여줘야 함*/
      transition: all 0.35s;
}

#btn-all-close {
    margin-bottom: 10px;
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer; 
    /*마우스 가져다대면 마우스 모양 바꿈, 손가락으로*/
    padding: 10px 25px;
    float: right;
}

/*마우스 포인터 가져다 댔을 때*/
#btn-all-close:hover {
    background-color: red;
    color: white;
    transition: all .35s;

}

.active {
    display: block;
    height: 300px;
}
